<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>仗剑不饮酒</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/StaticFiles/normalize.css">
    <link rel="stylesheet" media="(max-width: 1280px)" href="/StaticFiles/blog.css">
    <link rel="stylesheet" media="(min-width: 1280px)" href="/StaticFiles/blog_lg.css">
</head>
<style>
    article{
        display: none;
    }
</style>
<body>
<header>
    <nav>
        <a href="/"><img src="/portrait.ico" alt="Aber Sheeran" id="portrait"></a>
        <div class="items">
            <div class="item">
                <!--a href="https://blog.cathaysian.cn/Algorithms/" target="_blank">
                    算法设计与分析
                </a-->
            </div>
            <div class="item">
                <a href="/about.html" target="_blank">
                    关于
                </a>
            </div>
            <div class="item">
                <a href="/about.html" target="_blank">
                    联系
                </a>
            </div>
            <div class="item">
                <a href="/about.html" target="_blank">
                    赞助
                </a>
            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <article v-for="blog in blogs">
            <a class="title" v-bind:href="['/articles/' + blog.permalink +'/']" target="_blank">{{ blog.title }}</a>
            <summary v-bind:href="['/articles/' + blog.permalink +'/']">{{ blog.summary }}</summary>
            <aside>
                <div class="tags">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIpSURBVGhD7ZlNS1VBGICvi0Iqsm+Sora66wP37d20DjcR5E4XLoo2mSFRIRIR/oKWgTsXrRIDQSmIShHJdWHoVjDsee0MvBwOed9z5+MI88CDnOGemXm4Z9TLbWUymUymYAzfd+hxTMpj3PNgDybDV4SYLKQcsYHDeL9NR1HfnySkKuIqWpCN6znk+iieLnkEg+AjQqgKuVMaEwfRO3UjbuEI6scnWUjdiH7cRbnnrQwUJAnp5HG6ie6+WRkoqApxZ+RbMSZ6C/FxJoZwCi/vX/2jKsTxBd24lxBfB7uKaCEhI4QoIaEjhOAhMSKEoCGxIoRgITEjhHuo1/MSEjviLv5Bt94v7EZHrZDUEb/xOmrMIQ/R3SA2IUJodEi7EUKtR2sc3U1iiBhLhPAd3WtNhz1kjDViAvVeTCFCiBhrxFPUe/iBvWjGZ4w1YhL12ut4BWvjI8Ya8Qz1mmuo/+WvTScx1ojnqNdaxUvojTox1ogXqNdYwVpn4iAsMdaIl6jnll+5FzEY7cRYI+Rjr57zK17A4PwvxhLRhdOo55K/4ucxGlUxD9AS8Qr1HJ/xHEanHKO1RnzCs5iMqpiDIl6jfv0ynsHk6JhyRF/xU5CIN6gjlvAUNoZH+BN1xBPcwdsoETOoIxZRf6RtDPrxkIPvNiwxc+pa/IiNjChzDTdRb965gCfx0HADt1BHzOMJPHQM4DZKxAdM/m1tJ8g78w6P7V9lMpmItFp/AeHfxal8moBYAAAAAElFTkSuQmCC">
                    <span class="tag" v-for="tag in blog.tags">
                        <a v-bind:href="['/tags/'+ tag + '/']" target="_blank">{{ tag }}</a>
                    </span>
                </div>

                <i class="block"></i>
                <div class="corpus">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAoklEQVRYR2NkGGDAOMD2M2BzQAIDA0M/AwODAJUc94GBgaGQgYFhATbzsDkApIGfSpbDjAGZKUisA/5DFVIrevCah82SUQeMhsBoCIyGwGgIjIbAaAiMhsBoCAyaEKByuxRrCxyrICwEBtwBhFrFxEYVzVrFNHMALTomH3H1tLAFswO0GyVPpUTwkIGBAdTdO0Bsz4hK9hJnDKGERpwpFKgCALWxOiH0B0d7AAAAAElFTkSuQmCC">
                    <span>
                        <a v-bind:href="['/corpus/'+ blog.corpus + '/']" target="_blank">{{ blog.corpus }}</a>
                    </span>
                </div>

                <i class="block"></i>
                <time>
                    {{ blog.date }}
                </time>
            </aside>
        </article>
        <img id="loading" style="height: 100px;width: 100px; display: block; margin: auto" src="/StaticFiles/loading.gif">
        <div id="load_error" style="text-align: center; padding: 5%; width: 300px; margin: auto; display: none;"></div>

    </section>
    <noscript><p style="padding:20px;margin:auto;">请启用Javascript以查看使用Vue.js渲染的文章列表</p></noscript>
</main>
<footer>
    <div style="margin:0 auto 10px">
        <a href="https://github.com/AberSheeran" target="_blank">
            <img src="https://png.icons8.com/ios/50/000000/github.png"/>
        </a>
    </div>
    <p>Copyright&copy;2018</p>
    <p>Designed by <a href="https://github.com/AberSheeran/maltose" target="_blank" style="text-decoration: underline;">AberSheeran</a></p>
</footer>
</body>
<script type="text/javascript" src="/StaticFiles/jQuery.3.2.1.min.js"></script>
<script src="/StaticFiles/Vue.2.5.13.js"></script>
<script>
    var date = new Date(),
        year = date.getFullYear(),
        month = date.getMonth()+1;
    if(month <= 9)
    {
        month = "0" + month;
    }
    //请求锁, true时不再请求页面
    var get_lock = false;
    //vue 渲染页面
    var blogs = new Vue({
        el:"section",
        data:{
            "blogs":[]
        }
    });
    //
    $(window).ready(function(){
        $.when(get_more_blog()).done(function(datas){
            for(var i=0; i<datas.length; i++){
                blogs.blogs.push(datas[i]);
            }
        });
        $("style").text("article{display: block;}");
        GET();
    });

    function GET(){
        if(get_lock){
            $("#load_error").text('<end></end>');
            $("#load_error").fadeIn(1);
            $("#loading").fadeOut(500);
        }
        else{
            $("#loading").fadeIn(1);
            $.when(get_more_blog())
            .fail(function(){
                GET();
            })
            .done(function(datas){
                for(var i=0; i<datas.length; i++){
                    blogs.blogs.push(datas[i]);
                }
                GET();
            });
        }
    }
    //页面跳转
    $(document).on("click", "article summary", function(){
        window.open($(this).attr("href"));
    });
</script>
<script>
    //初始化请求页面
    var url = "/"+year+"/"+month+"/index.json"
    //将url置为下一个url
    function next_url()
    {
        var url_year = url.split("/")[1];
        var url_month = url.split("/")[2];
        if(url_year == "2017" && url_month == "07")
        {
            get_lock = true;
        }
        else{
            url_month = url_month-1;
            if (url_month <= 0)
            {
                url_month = "12";
                url_year = url_year-1;
            }
            else
            {
                if(url_month <= 9)
                {
                    url_month = "0" + url_month;
                }
            }
            url = "/" + url_year + "/" + url_month + "/index.json";
        }
    }
    //请求更多的博文
    function get_more_blog(){
        if (!get_lock){
            var defer = $.Deferred();
            $.ajax({
                type : "GET",
                url : "/time" + url,
                async : true,
                success:function(datas){
                    defer.resolve(datas);
                },
                error:function(){
                    defer.reject();
                }
            });
            next_url();
            return defer;
        }
    }
</script>
</html>
