@import url(https://fonts.googleapis.com/earlyaccess/notosansscsliced.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);

body{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #FFFFFF;
}
header{
    margin: 20px auto;
    width: 100%;
    margin-bottom: 3em;
}
header nav{
    max-width: 900px;
    margin: auto;
}
header nav .portrait{
    display: inline-block;
    width: 6em;
    height: 6em;
    border-radius: 100%;
}
header nav .items{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
header nav .item{
    display: inline;
    padding: 5px 10px;
}
section{
    display: none;
}
article{
    position: relative;
    border-left:0 solid #CCCCCC;
    max-width: 900px;
    padding-bottom: 100px;
}
article a:link{
    color: black;
    text-decoration:none;
}
article a:visited{
    color: black;
    text-decoration: none;
}
article a:hover{
    color: gainsboro;
    text-decoration:none;
}
article a:active{
    color: #CCCCCC;
    text-decoration:none;
}
article title{
    display: block;
    font-size: 1.6em;
    margin-bottom: 7px;
}
article summary{
    max-height: 288px;
    font-family: 'Noto Sans SC Sliced', sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}
article aside{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}
article aside .block{
    float: left;
    width: 1em;
    height: 1em;
}
article aside .tags{
    display: inline;
    font-size: 1em;
}
article aside .tags img{
    display: block;
    float: left;
    width: 1.2em;
    height: 1.2em;
}
article aside .tags .tag{
    margin-right: 7px;
}
article aside .corpus{
    display: inline;
    font-size: 1em;
}
article aside .corpus img{
    display: block;
    float: left;
    width: 1.1em;
    height: 1.1em;
}
article aside time{
    display: inline;
    font-size: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
article aside time img{
    display: block;
    float: left;
    width: 1.3em;
    height: 1.3em;
}
footer{
    text-align: center;
    padding: 40px;
    border: 2px solid transparent;
    border-top-color: aliceblue;
}
footer img{
    width: 30px;
    height: 30px;
}
footer p{
    font-size: 14px;
}
@media (min-width: 940px) {
    article{
        margin: auto;
    }
}
@media (max-width: 940px) {
    article{
        margin: 0px 15px;
    }
}
@media (max-width: 600px) {
    body{
        font-size: 17px;
    }
}

#more{
    text-align: center;
}
#more a:hover{
    background-color: black;
    color: #FFFFFF;
}