@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);

body{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    font-size: 19px;
    background-color: #FFFFFF;
    margin: 7%;
}
header {
    width: 300px;
}
header nav{
    margin: auto;
}
header nav #portrait{
    display: block;
    margin: 20px auto;
    width: 6em;
    height: 6em;
    border-radius: 100%;
}
header nav .items{
    text-align: center;
}
header nav .item{
    padding: 5px 10px;
}
header nav .item a{
    text-decoration: none;
    color: #000000;
}
header nav .item a:hover{
    background-color: black;
    color: #FFFFFF;
}
main{
    width: 72%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding-right: 5%;
}
section{
    margin-left: 0px;
    max-width: 1000px;
}
section:first-child{
    padding-top: 100px;
}
article{
    position: relative;
    border-top: 2px solid #eee;
    padding-top: 7px;
    max-width: 1000px;
    padding-bottom: 100px;
}
article a:link{
    color: black;
    text-decoration:none;
}
article a:visited{
    color: black;
    text-decoration: none;
}
article a:hover{
    color: gainsboro;
    text-decoration:none;
}
article a:active{
    color: #CCCCCC;
    text-decoration:none;
}
article title{
    display: block;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 400;
}
article summary{
    max-height: 288px;
    margin-bottom: 7px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}
article aside{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}
article aside .block{
    float: left;
    width: 1em;
    height: 1em;
}
article aside .tags{
    display: inline;
    font-size: 1em;
}
article aside .tags img{
    display: block;
    float: left;
    width: 1.2em;
    height: 1.2em;
}
article aside .tags .tag{
    margin-right: 7px;
}
article aside .corpus{
    display: block;
    font-size: .8em;
    color: #eee;
    position: absolute;
    top: -24px;
}
article aside .corpus img{
    display: none;
    float: left;
    width: 1.1em;
    height: 1.1em;
}
article aside time{
    display: inline;
    font-size: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
article aside time img{
    display: block;
    float: left;
    width: 1.3em;
    height: 1.3em;
}
footer{
    width: 300px;
    position: absolute;
    text-align: center;
    bottom: 0px;
}
footer img{
    width: 30px;
    height: 30px;
}
footer p{
    font-size: 14px;
}

#more{
    text-align: end;
}
#more a:hover{
    background-color: black;
    color: #FFFFFF;
}
#more a:active{
    background-color: black;
    color: #FFFFFF;
}
